 @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
 

body {
	font-family: 'Open Sans', sans-serif;
 	padding-top: 125px;
 	overflow-x: hidden; 
 	font-size: 16px;
 	line-height: 26px;
}

html, body {
    height: 100%;
}

.page-content {
    min-height: 100%;
    margin-bottom: -70px;
    padding-bottom: 70px;
}

 
nav {
	padding-top: 25px; 
}

section {
	padding-top: 40px;
}


a {
	text-decoration: underline;
	color: rgb(1,150,205);
}
a:hover {
 text-decoration: none;
}

a.no-underline:hover {
	color: white;
}	

a i.fa {
	color: white;
}

p {
	text-align: justify;
}

footer {
   
    height: 70px;
 	 
    width: 100%;
   	z-index: 10;
}

/************
/*typography*
*************/

#download-cards p {
	 
	font-size: 20px;
}



.regular {
	font-weight: 400;
}

.thin {

	font-weight: 300;
}



.uppercase {
	text-transform: uppercase;
}

.no-underline {
	text-decoration: none;
}

.underline {
	text-decoration: underline;
}

.fa {
	font-size: 20px;
	padding-left: 15px;
}


/**************
spacing
**************/

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.top10 {
	padding-top: 20px;
}


.navbar {
	margin: 0;	
}

.top25 {
	margin-top: 25px;
}


/************
colors
**********/
 
.bg-dark-blue {
	background-color: #074396;
}

.light-blue {
	color: rgb(21,149,211) !important;
}

.bg-light-blue {
	background-color: rgb(21,149,211);
}

.white {
	color: white;
}

#mygallery img {
	padding-top: 15px;
}

#download-cards {

	margin-top: 25px;
	background-image: url("../img/header-bg.jpg");
	background-position: right;
	background-repeat: no-repeat;
	min-height: 300px;
	background-size: contain;

}

.flip img {
	height:  300px;
	display: inline;
	padding-right: 	20px;
}



#download-cards p:first-child  {
	padding-top: 20px;
		 
}


#download-cards a , #print-at-home a {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom:  10px;
	background-color: #1595d3;
}

#download-cards a {
	display: block;
	width: 200px;
	font-size: 18px;
	font-style: 700;
	text-align: center;
	
} 

.main-title {
	padding-top: 40px;
	padding-bottom: 20px;
	font-size: 30px;
 	margin-left: -15px;
}

.main-title p {
 
	font-size: 18px;
	 
}


.img-side img {
	height: 200px;
	display: inline;
	padding-left: 10px;
}


.scroll-top-wrapper {
    position: fixed;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 9;
    background-color: #074396;
	color: #eeeeee;
	width: 40px;
	height: 40px;
	 
	right: 15px;
	bottom: 15px;
	 
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: #074396;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: 40px;
	padding: 0;
	margin:0;
}


/* Extra Things */
body{background: #eee ;font-family: 'Open Sans', sans-serif;}h3{font-size: 30px; font-weight: 400;text-align: center;margin-top: 50px;}h3 i{color: #444;}

.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}

/* The controlsy */
.carousel-control {
	left: -12px;
    height: 40px;
	width: 40px;
    background: none repeat scroll 0 0;
    color:#4d4d4d;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}
.carousel-control.right {
	right: -12px;
}
/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
}
.carousel-indicators .active {
background: #428bca;
}

.carousel-inner img {
	max-width: 100%;
}

.carousel-control 			 { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}
@media (max-width: 767px) {
	.carousel-inner .active.left { left: -100%; }
	.carousel-inner .next        { left:  100%; }
	.carousel-inner .prev		 { left: -100%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }

}
@media (min-width: 767px) and (max-width: 992px ) {
	.carousel-inner .active.left { left: -50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		 { left: -50%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }
	.active > div:first-child + div { display:block; }
}
@media (min-width: 992px ) {
	.carousel-inner .active.left { left: -25%; }
	.carousel-inner .next        { left:  25%; }
	.carousel-inner .prev		 { left: -25%; }	
}


@media (max-width:480px)  { 

footer .list-inline>li {
	padding-left: 0px;
}

.flip img {
		display: inline;
		float: left;
		width: 100%;
		height: auto;
	 }

#download-cards {
	background-image: none;
}

#download-cards a:last-child {
	margin-bottom:  10px;
}

#print-at-home a {
	font-size: 15px;
	width: 290px;
	display: block;
}

}

