<footer class=" bg-light-blue text-center">

	<ul class="top10 list-inline white">
		<li><h5>FOLLOW US: </h5></li>
		
		<li><a href="https://facebook.com/falladaproject" target="_blank"><i aria-hidden="true" class="fa fa-facebook"></i></a>
		</li>


		<li><a href="https://twitter.com/falladaproject" target="_blank"><i aria-hidden="true" class="fa fa-twitter"></i></a>
		</li>


		<li><a href="https://instagram.com/falladaproject" target="_blank"><i aria-hidden="true" class="fa fa-instagram"></i></a>
		</li>

		<li ><h5><a href="mailto:falladaproject@gmail.com"  target="_blank" class="white">CONTACT US</a></h5></li>

	</ul>


</footer>

