<head>
	<meta charset="utf-8">
 
	<meta  name="viewport" content="width=device-width, initial-scale=1">
	 


	<title>#FalladaProject</title><!-- Bootstrap CSS -->
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<script src="https://use.fontawesome.com/77d4e62027.js">
	</script><!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
	  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
	   

	 
	<meta name="description" content="A Drumbeat for the Resistance. Each time you drop a card, you've made a local protest. Each time you mail a card, you've made a national protest." />

	<!-- Twitter Card data -->
	<meta name="twitter:card" content="A Drumbeat for the Resistance. Each time you drop a card, you've made a local protest. Each time you mail a card, you've made a national protest.">
	<meta name="twitter:site" content="@falladaproject">
	<meta name="twitter:title" content="#FalladaProject - Postcards">
	<meta name="twitter:description" content="A Drumbeat for the Resistance. Each time you drop a card, you've made a local protest. Each time you mail a card, you've made a national protest.">
	<meta name="twitter:creator" content="@falladaproject">
 
	<meta name="twitter:image" content="img/social-media-twitter.jpg">

	<!-- Open Graph data -->
	<meta property="og:title" content="#FalladaProject - Postcards" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://falladaproject.org" />
	<meta property="og:image" content="http://falladaproject.org/img/social-media-facebook.jpg" />
	<meta property="og:description" content="A Drumbeat for the Resistance. Each time you drop a card, you've made a local protest. Each time you mail a card, you've made a national protest." /> 
	<meta property="og:site_name" content="Fallada Project" />
	 

</head>