<nav class="navbar-fixed-top bg-dark-blue white">
		<div class="container bg-dark-blue">
			<div class="pull-right">
				<ul class="list-inline">
					<li><a href="https://facebook.com/falladaproject" target="_blank"><i aria-hidden="true" class="fa fa-facebook"></i></a>
					</li>


					<li><a href="https://twitter.com/falladaproject" target="_blank"><i aria-hidden="true" class="fa fa-twitter"></i></a>
					</li>


					<li><a href="https://instagram.com/falladaproject" target="_blank"><i aria-hidden="true" class="fa fa-instagram"></i></a>
					</li>

					<li><a href="mailto:falladaproject@gmail.com" target="_blank"><i aria-hidden="true" class="fa fa-envelope-o"></i></a></li>

				</ul>
			</div>


			<div class="main-title">
				<a href="/" class="no-underline white"><strong>#FALLADA</strong>PROJECT</a>
				<p>A Drumbeat for the Resistance</p>
			</div>
		</div>
	</nav>